#search forward / backwards in history using UP and DOWN
"\e[A": history-search-backward
"\e[B": history-search-forward

#single tab suggestions
set show-all-if-ambiguous on

#auto completion ignores case
set completion-ignore-case on

#put / after directory names and * after programs
set visible-stats on
